<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-flat text-sm" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="{{ BASE_URL }}" class="nav-link {{ (CONTROLADOR == 'home' and METODO == 'index') ? 'active' : '' }}">
            <i class="nav-icon fas fa-home"></i>
            <p>Inicio</p>
        </a>
    </li>

    <!-- PAGO PLUS -->
    <li class="nav-item">
        <a
            href="#"
            class="nav-link {{ (CONTROLADOR == 'pago_plus') ? 'active' : '' }}">
            <i class="nav-icon fas fa-mobile-alt"></i>
            <p>
                Pago Plus
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a
                    href="{{ BASE_URL }}/Pago_Plus/Actualizar/"
                    class="nav-link {{ (CONTROLADOR == 'pago_plus' and METODO == 'actualizar') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-sync-alt"></i>
                    <p>Actualizar</p>
                </a>
            </li>
            <li class="nav-item">
                <a
                href="{{ BASE_URL }}/Pago_Plus/Consultar/"
                    class="nav-link {{ (CONTROLADOR == 'pago_plus' and METODO == 'consultar') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Consultar</p>
                </a>
            </li>
        </ul>
    </li>

    <!-- TRANSACCIONES -->
    <li class="nav-item">
        <a
            href="#"
            class="nav-link {{ (CONTROLADOR == 'transacciones') ? 'active' : '' }}">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>
                Transacciones
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a
                    href="{{ BASE_URL }}/Transacciones/Actualizar/"
                    class="nav-link {{ (CONTROLADOR == 'transacciones' and METODO == 'actualizar') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-sync-alt"></i>
                    <p>Actualizar</p>
                </a>
            </li>
            <li class="nav-item">
                <a
                href="{{ BASE_URL }}/Transacciones/Consultar/"
                    class="nav-link {{ (CONTROLADOR == 'transacciones' and METODO == 'consultar') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Consultar</p>
                </a>
            </li>
        </ul>
    </li>

    <!-- CONTINGENCIA -->
    <li class="nav-item {{ (CONTROLADOR == 'contingencia') ? 'menu-is-opening menu-open' : '' }}">
        <a
            href="#"
            class="nav-link {{ (CONTROLADOR == 'contingencia') ? 'active' : '' }}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>
                Contingencia
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a
                    href="{{ BASE_URL }}/Contingencia/Usuarios/"
                    class="nav-link {{ (CONTROLADOR == 'contingencia' and METODO == 'usuarios') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-sync-alt"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li class="nav-item">
                <a
                    href="{{ BASE_URL }}/Contingencia/"
                    class="nav-link {{ (CONTROLADOR == 'contingencia' and METODO == 'index') ? 'active' : '' }}">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Gestionar</p>
                </a>
            </li>
        </ul>
    </li>

    {% if PERMISOS.menu_roles or PERMISOS.menu_usuarios %}
        <li class="nav-header">Sistema</li>

        {% if PERMISOS.menu_roles %}
        <li class="nav-item">
            <a
                href="{{ BASE_URL }}/Roles/"
                class="nav-link {{ (CONTROLADOR == 'roles') ? 'active' : '' }}">
                <i class="nav-icon fas fa-key"></i>
                <p>Roles</p>
            </a>
        </li>
        {% endif %}

        {% if PERMISOS.menu_usuarios %}
        <li class="nav-item">
            <a
                href="{{ BASE_URL }}/Usuarios/"
                class="nav-link {{ (CONTROLADOR == 'usuarios') ? 'active' : '' }}">
                <i class="nav-icon fas fa-users"></i>
                <p>Usuarios</p>
            </a>
        </li>
        {% endif %}
    {% endif %}
</ul>